.doc-subHead{
    font-size: 32px;
    font-weight: 600;
}


.module-list{
    border: 1px solid var(--background-color)
}

.modules{
    padding: 5px 0px 5px 15px;
    overflow-x: auto;
    overflow-y: hidden;
    line-height: 1;
    word-wrap: normal;
    margin: 20px auto;
    padding: 15px;
    background-color: #fcfcfc;
    white-space: nowrap;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.module{
    font-style: normal;
    list-style: none;
    padding: 3px 0px 3px 15px;
}

.text-section .moduleDesc{
    padding-left: 25px;
    font-size: 14px;
}

.copy{
    padding: 10px 20px 10px 20px;
}

.text-section .listHead{
    font-size: 24px;
    padding-left: 5px;
    font-weight: 600;
}

.module-list{
    padding-left: 15px;
    padding-top: 10px;
}

.imgView{
    aspect-ratio: fixed;
    height: 450px;
}